{% extends '@PositibeCmf/layout.html.twig' %}

    {% from '@PositibeCmf/_macros.html.twig' import pagination %}
    {% import '@PositibeCmf/_buttons.html.twig' as buttons %}

    {% block title %}Tipos de enumeradores{% endblock %}
    {% block subtitle %}Tipos de enumeradores{% endblock %}
    {% set menu_active = 'enum' %}
    {% set content_menu = 'enumtype' %}

    {% block breadcrumb_list %}
        <li>
            <i class="fa fa-angle-right"></i>
            <a href="{{ path('positibe_enum_type_index') }}">Tipos de enumeradores</a>
        </li>
    {% endblock %}

    {% block content -%}
        <form action="" method="get" id="form_enum_type_filter" name="criteria"></form>
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <p class="caption-subject font-green-sharp bold uppercase"><i class="fa fa-tags "></i> Tipos de enumeradores
                    </p>
                </div>
                <div class="actions">
                    <a href="{{ path('positibe_enum_type_create') }}"
                       class="btn btn-sm btn-default btn-circle"><i
                                class="fa
        fa-plus"></i> Crear nuevo tipo de enumeradores</a>
                </div>
            </div>
            <div class="portlet-body">
                {{ pagination(enum_types) }}
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>No.</th>
                        <th class="col-lg-6">Nombre</th>
                        <th>Presentación</th>
                        <th>Acciones</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <div class="input-group-btn">
                                <button class="btn btn-sm yellow filter-submit margin-bottom" type="submit"
                                        form="form_enum_type_filter"><i
                                            class="fa fa-search"></i> Filtrar
                                </button>
                            </div>
                        </th>
                    </tr>
                    {% set count = enum_types.maxPerPage * (enum_types.currentPage - 1) %}
                    {% for enum_type in enum_types %}
                        <tr>
                            <td>{{ count + loop.index }}</td>
                            <td><a href="{{ path('positibe_enum_type_update', { 'name': enum_type.name }) }}">{{ enum_type.name | upper | upper }}</a></td>
                            <td>{{ enum_type.text }}</td>
                            <td>
                                <div class="input-group">
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path('positibe_enum_type_show', { 'name': enum_type.name }) }}"><i
                                                class="fa fa-search"></i> Detalles</a>
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path('positibe_enum_type_update', { 'name': enum_type.name }) }}"><i
                                                class="fa fa-edit"></i> Editar</a>

                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No hay tipos de enumeradores</td>
                        </tr>
                    {% endfor %}
                </table>
                {{ pagination(enum_types) }}
            </div>
        </div>

    {% endblock %}
