{% extends '@PositibeCmf/layout.html.twig' %}

    {% from '@PositibeCmf/_macros.html.twig' import delete_confirm %}

    {% block title %}Tipos de enumeradores{% endblock %}
    {% block subtitle %}Editar tipos de enumeradores{% endblock %}
    {% set menu_active = 'enumtype' %}
    {% set content_menu = 'enumtype' %}

    {% block breadcrumb_list %}
        <li>
            <i class="fa fa-angle-right"></i>
            <a href="{{ path('positibe_enum_type_index') }}">Tipos de enumeradores</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            {{ enum_type.name | upper }}
        </li>
    {% endblock %}

    {% block content -%}

        {{ form_start(form,{'attr': {'class': 'form-horizontal inbox-compose' }}) }}
        <input type="hidden" name="_method" value="PUT"/>
        {{ include('@PositibeEnum/EnumType/_form.html.twig') }}
        {{ form_end(form) }}
        {{ delete_confirm('positibe_enum_type_remove', path('positibe_enum_type_delete', { 'name': enum_type.name }) ) }}

    {% endblock -%}
