{% extends '@PositibeCmf/layout.html.twig' %}

    {% from '@PositibeCmf/_macros.html.twig' import pagination %}
    {% import '@PositibeCmf/_buttons.html.twig' as buttons %}

    {% block title %}Enumeradores{% endblock %}
    {% block subtitle %}Lista de enumeradores{% endblock %}
    {% set menu_active = 'enum' %}
    {% set content_menu = app.request.get('type') %}

    {% block breadcrumb_list %}
        <li>
            <i class="fa fa-angle-right"></i>
            <a href="{{ path('positibe_enum_types') }}">Enumeradores</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            Lista de enumeradores
        </li>
    {% endblock %}

    {% block content -%}
        <form action="" method="get" id="form_enum_filter" name="criteria"></form>
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <p class="caption-subject font-green-sharp bold uppercase"><i class="fa fa-tag"></i> Lista de
                        enumeradores: {{ app.request.get('type') | upper }}
                    </p>
                </div>
                <div class="actions">
                    <a href="{{ path('positibe_enum_types') }}"
                       class="btn btn-sm btn-default btn-circle"><i class="fa fa-angle-left"></i> Volver a tipos de
                        enumeradores</a>
                    <a href="{{ path('positibe_enum_create', {'type': app.request.get('type')}) }}"
                       class="btn btn-sm btn-default btn-circle"><i
                                class="fa
        fa-plus"></i> Crear nuevo enumerador</a>
                </div>
            </div>
            <div class="portlet-body">
                {{ pagination(enums) }}
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th style="width: 60px">No.</th>
                        <th>Presentación</th>
                        <th>Tipo de enumerador</th>
                        <th>Posición</th>
                        <th style="width: 95px">Acciones</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <input type="text" name="criteria[text]" id="criteria_text"
                                   class="form-control input-sm" form="form_enum_filter"
                                   value="{{ app.request.get('criteria').text | default() }}">
                        </th>
                        <th>
                            <select form="form_enum_filter" name="criteria[type]" id="criteria_type"
                                    class="form-control input-sm">
                                {% set type_selected = app.request.get('criteria').type | default(null) %}
                                {{ render(controller('positibe.controller.enum:showTypeFilterAction', {'typeSelected': type_selected})) }}
                            </select>
                        </th>
                        <th>
                        </th>

                        <th>
                            <div class="input-group-btn">
                                <button class="btn btn-sm yellow filter-submit margin-bottom" type="submit"
                                        form="form_enum_filter"><i
                                            class="fa fa-search"></i> Filtrar
                                </button>
                            </div>
                        </th>
                    </tr>
                    {% set count = enums.maxPerPage * (enums.currentPage - 1) %}
                    {% for enum in enums %}
                        <tr>
                            <td>{{ count + loop.index }}</td>
                            <td>
                                <a href="{{ path('positibe_enum_update', {'type':app.request.get('type'), 'name': enum.name }) }}">{{ enum.text }}</a>

                            </td>
                            <td>{{ enum.type }}</td>
                            <td>{{ enum.position }}</td>
                            <td>
                                <div class="input-group">
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path('positibe_enum_show', { 'type':app.request.get('type'), 'name': enum.name }) }}"><i
                                                class="fa fa-search"></i> Detalles</a>
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path('positibe_enum_update', {'type':app.request.get('type'),  'name': enum.name }) }}"><i
                                                class="fa fa-edit"></i> Editar</a>

                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No hay elementos</td>
                        </tr>
                    {% endfor %}
                </table>
                {{ pagination(enums) }}
            </div>
        </div>

    {% endblock %}
