{% extends '@PositibeCmf/layout.html.twig' %}

{% from '@PositibeCmf/_macros.html.twig' import delete_confirm %}

{% block title %}Enumeradores{% endblock %}
{% block subtitle %}Editar enumerador{% endblock %}
{% set menu_active = 'enum' %}
    {% set content_menu = app.request.get('type') %}

{% block breadcrumb_list %}
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{ path('positibe_enum_types') }}">Enumeradores</a>
    </li>
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{ path('positibe_enum_index', {'type': app.request.get('type')}) }}">Lista de enumeradores</a>
    </li>
    <li>
        <i class="fa fa-angle-right"></i>
        {{ enum.name | upper }}
    </li>
{% endblock %}

{% block content -%}

    {{ form_start(form,{'attr': {'class': 'form-horizontal inbox-compose' }}) }}
    <input type="hidden" name="_method" value="PUT"/>
    {{ include('@PositibeEnum/Enum/_form.html.twig') }}
    {{ form_end(form) }}
    {{ delete_confirm('positibe_enum_remove', path('positibe_enum_delete', {'type': app.request.get('type'), 'name': enum.name }) ) }}

{% endblock -%}

{% block javascripts %}
    <script>
        jQuery('#positibe_enum_locale').on('change', function (e) {
            location.replace('{{ path('positibe_enum_update', {'type': app.request.get('type'), 'name': enum.name}) }}?data_locale='
            + $(this).val());
        });
    </script>
{% endblock %}